Terraform/aws_terraform/network/.terraform/plugins/darwin_amd64/terraform-provider-aws_v1.54.0_x4
Terraform/aws_terraform/network/terraform.tfstate
Terraform/aws_terraform/network/.terraform/plugins/darwin_amd64/lock.json
